<h1>Hello, <%= @municipe.full_name %>!</h1>

<p>This email is to inform you that there has been a change in your registration status in our system.</p>
<p>Your new status is: <%= @municipe.status %></p>

<p>If you have any questions or require assistance, please do not hesitate to contact us.</p>

<p>Thank you for your attention.</p>